<% content_for :title do %>
 <title><%= @user.name %>のページ - Monolist</title>
<% end %>
<% content_for :description do %>
  <meta content="<%= @user.name %>のモノページ。<%= @user.name %> の欲しいモノ、持ってるモノを表示しています。" name="description">
<% end %>
<% content_for :keywords do %>
  <meta content="Monolist,<%=@user.name%>" name="keywords">
<% end %>

<%= render 'profile' , user: @user %>


<%= render 'items/list' , items: @items %>