<div class="container">
  <div class="ranking container-inner inner-default clearfix">
    <% ranking_no =0 %>
    <% @items.each do |item| %>
      <div class="item-box">
        <div class="ranking-number">
            <span class="label label-primary"><% ranking_no += 1  %>
              No.<%= ranking_no %>
            </span>
            <span class="user-number pull-right">Users:<%= item.have_users.count %></span>
        </div>
        <div class="image">
          <div class="img-wrap">
            <% if item.large_image.present? %>
              <%= image_tag(item.large_image , alt: item.title) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item.title) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= item.title %>
          </p>
        </div>
        <div class="ranking-action">
          <%= render 'items/action' , item: item if logged_in? %>
        </div>
      </div>
    <% end %>
  </div>
</div>